@use "bootstrap/scss/bootstrap";

@media (width >= 87.0rem) {
  .container {
    max-width: 1140px;
  }
}

@media (width >= 40.0rem) {
  .logo {
    flex-basis: 527px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}